In [15]:
'''

@Author: Venkatesh \n
@Date: 2024-10-11 18:00:30 \n
@Last Modified by: Venkatesh \n
@Last Modified time: 2024-10-11 18:00:30 \n
@Title : Program Aim to word count using pyspark \n


'''

'\n\n@Author: Venkatesh \n\n@Date: 2024-10-11 18:00:30 \n\n@Last Modified by: Venkatesh \n\n@Last Modified time: 2024-10-11 18:00:30 \n\n@Title : Program Aim to word count using pyspark \n\n\n\n'

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode,split

In [17]:
spark=SparkSession.builder.appName("word count").getOrCreate()

In [18]:
data_frame=spark.read.text("D:\spark\spark-warehouse\word_count.txt")
data_frame.show()

+--------------------+
|               value|
+--------------------+
|Venkatesh Rahul V...|
+--------------------+

In [19]:
data_frame_2=words=data_frame.select(explode(split(data_frame.value," ")).alias("word"))
data_frame_2.show()

+---------+
|     word|
+---------+
|Venkatesh|
|    Rahul|
|    Vijay|
|   Naveen|
|    Venky|
|    Rahul|
|   Suresh|
|Venkatesh|
|   Girish|
|Venkatesh|
|    Vijay|
+---------+

In [20]:
word_count=data_frame_2.groupBy("word").count()
word_count.show(truncate=False)

+---------+-----+
|word     |count|
+---------+-----+
|Suresh   |1    |
|Venkatesh|3    |
|Vijay    |2    |
|Venky    |1    |
|Naveen   |1    |
|Rahul    |2    |
|Girish   |1    |
+---------+-----+